.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--mantine-color-white-0);
  padding: 15px 20px;
  box-shadow: 0px 2px 22.5px 0px #1c1d1f0d;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo p {
  font-weight: 500;
  font-size: 16px;
}

.logo .logo__img {
  width: 30px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.nav__link {
  width: 102px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav__link span {
  font-weight: 500;
  font-size: 14px;
}

.nav__link-profile {
  color: var(--mantine-color-gray-9);
}

.nav__link-profile svg {
  width: 18px;
  height: 18px;
}

.nav__link--active {
  color: var(--mantine-color-primary-4);
}

.nav__link--active span {
  color: var(--mantine-color-primary-4);
}

.nav__link--active::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 6px;
  background-color: var(--mantine-color-primary-4);
  border-radius: 50%;
  vertical-align: middle;
}
